body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

header {
    justify-content: space-between;
    background-color: rgba(244, 244, 253, 1);
}

.logo ,
.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}
.address-class{
    font-style: normal
} 
.logo-span {
    color: #2e2f42;
}
.logo-span-footer {
    color: rgba(244, 244, 253, 1);
}
.nav-list {
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-button {
    color: #2e2f42;
}

.nav-button:hover,
.nav-button:focus {
    color: #404bbf;
}

.contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.contact-list {
    list-style: none;
}

.contact-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    background-color: #2e2f42;
}

.main-button {
    background-color: #4D5AE5;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

.block-service ul {
    justify-content: space-between;
    list-style: none;
}

.block-service h3 {
    font-size: 20px;
    color: rgba(46, 47, 66, 1);
}

.block-service p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

.block-team {
    background-color: #F4F4FD
}
.block-team-title,
.title-portfolio {
    color: rgba(46, 47, 66, 1);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.11;
}

.team-list {
    justify-content: center;
    list-style: none;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.foto-block h3 {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
}

.foto-block p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
    line-height: 1.11
}

.title-portfolio {
    font-size: 36px;
    color: rgba(46, 47, 66, 1);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-list {
    justify-content: center;
    list-style: none;
}

.text-portfolio {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
}

.portfolio-list p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

footer {
    background-color: #2e2f42;
    color: #FFFFFF;
}

.text-footer {
    font-size: 16px;
    color: var(--footer-text-color, #F4F4FD);
    line-height: 1.5;
    letter-spacing: 0.02em;
}