body {
    background-color: #434455;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(244, 244, 253, 1);
}

nav {
    display: flex;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 500;
}

.address-class {
    font-style: normal;
    text-decoration: none;
}

.contact-list li a {
    text-decoration: none;
    color: rgba(67, 68, 85, 1);
    font-weight: 400;
}

.contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.intro-section {
    background-color: rgba(46, 47, 66, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.main-heading {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.main-button {
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.block-service {
    text-align: center;
    text-decoration: none;
}

.block-service ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.block-service h3 {
    font-size: 20px;
    color: rgba(46, 47, 66, 1);
}

.block-service p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

.block-team {
    background-color: rgba(244, 244, 253, 1);
    text-align: center;
    text-decoration: none;
}

.block-team .title-team {
    font-size: 32px;
    color: rgba(46, 47, 66, 1);
}

.team-list {
    display: flex;
    justify-content: center;
}

.foto-block {
    text-align: center;
    text-decoration: none;
}

.foto-block h3 {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
}

.foto-block p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

footer {
    background-color: rgba(46, 47, 66, 1);
    color: rgba(255, 255, 255, 1);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.text-footer {
    font-size: 16px;
    color: rgba(244, 244, 253, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-list {
    justify-content: center;
    display: flex;
}

.portfolio-list li {
    text-align: center;
}

.portfolio-list h3 {
    font-size: 18px;
    color: rgba(46, 47, 66, 1);
}

.portfolio-list p {
    font-size: 16px;
    color: rgba(67, 68, 85, 1);
}

.title-portfolio {
    text-align: center;
}